.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #5dade2;
}

p {
    font-size: 1.2rem;
    color: #222;
}

img {
    padding: 4em;
    width: 740px;
}


